.thumbnail{
    -webkit-transition:all 0.6s ease;   
}
body{
    background-color:#f4f4f4;
    font-family: Calibri;
}
.thumbnail:hover{
    transform:scale(0.9);
}
.imghover{
    -webkit-transition:all 0.6s ease; 
    padding-left: 30px;
    
}
.imghover:hover{
    transform:scale(0.9);
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #373737;
    padding: 5px;
    
    
}
#copyright{
    color: #F4F4F4;
}

.jumbotron{
    background-color: transparent !important;
}

a:hover{
    color: black !important;
    text-decoration: none !important;
}


a:visited{
    color: black !important;
}

.abouttext{
    float: left;
    padding-bottom: 20px;
}
